@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-white: 0deg 0% 100%;
    --color-lightgrey: 0deg 4% 75%;
    --color-grey: 0deg 0% 30%;
    --color-black: 4deg 28% 10%;
    --color-purple: 268deg 41% 33%;
    --color-blue: 178deg 86% 50%;
    --color-yellow: 48deg 100% 67%;
    --color-pink: 354deg 100% 72%;
    --color-orange: 21deg 98% 63%;
    --color-background: 0deg 8% 97%;
    --color-input: 0deg 0% 85%;
  }
}
